{% extends 'base.html.twig' %}

{%  block title "Toutes les recettes" %}

{% block body %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquid debitis, quis itaque minima doloremque delectus commodi eligendi eaque, ut facere voluptates explicabo aut sunt ab at dolores nostrum suscipit eius vero. </p>
    <ul>
        <li>
            <a href="{{ path('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}">Pâtes bolognaises</a>
        </li>
    </ul>
{% endblock %}